<connectionStrings>
	<!--
	
	

<add name="MakerShop" connectionString="Data Source=sql.viralplex.com;Database=Able_Old;user=ableuser;password=Tribeca!@;" providerName="System.Data.SqlClient" />
	
	
<add name="MakerShop" connectionString="Data Source=viralplex.com;Database=Able;user=ableuser;password=Tribeca!@;" providerName="System.Data.SqlClient" />


<add name="MakerShop" connectionString="Data Source=Sql.viralplex.com;Database=Able_Blank;user=ableuser;password=Tribeca!@;" providerName="System.Data.SqlClient" />

	-->

<!-- TODO: rename database -->

<add name="MakerShop" connectionString="Data Source=Sql.viralplex.com;Database=Able_QLink;user=ableuser;password=Tribeca!@;" providerName="System.Data.SqlClient" />

	
</connectionStrings>
