<application connectionStringName="" maintenanceInterval="360" viewStateWarning="0" readOnlyInstance="false" checkoutRetries="1">
	<trackPages enabled="true" ignoreHandlers="WithStandardExtensions" defaultState="On">
		<directories>
			<add path="Admin" state="Off" recurse="True" />
			<add path="Assets" state="Off" recurse="True" />
			<add path="ClientApi" state="Off" recurse="True" />
			<add path="fckeditor" state="Off" recurse="True" />
			<add path="images" state="Off" recurse="True" />
			<add path="Install" state="Off" recurse="True" />
			<add path="Layouts" state="Off" recurse="True" />
		</directories>
	</trackPages>
	<securePages enabled="true" ignoreHandlers="WithStandardExtensions">
		<directories>
			<add path="Admin" recurse="true" />
			<add path="Members" recurse="true" />
			<add path="Checkout" recurse="true" />
			<add path="FCKeditor" recurse="true" state="Ignore" />
			<add path="App_Themes" recurse="true" state="Ignore" />
			<add path="Assets" recurse="true" state="Ignore" />
			<add path="images" recurse="true" state="Ignore" />
			<add path="js" recurse="true" state="Ignore" />
			<add path="webcharts" recurse="true" state="Ignore" />
		</directories>
		<files>
			<add path="Login.aspx" />
			<add path="Members/MyWishlist.aspx" state="Off" />
			<add path="Members/SendMyWishlist.aspx" state="Off" />
			<add path="Admin/Utility/EditHtml.aspx" state="Ignore" />
		</files>
	</securePages>
	<urlRewriter enabled="true" provider="MakerShop.Catalog.DefaultUrlRewriter" />
	<urlGenerator enabled="true" provider="MakerShop.Catalog.DefaultUrlGenerator" />
</application>
