-- <[ac_Categories]>

SET NOCOUNT ON;
SET DATEFORMAT ymd;

SET IDENTITY_INSERT [ac_Categories] ON;

INSERT INTO [ac_Categories] ([CategoryId], [StoreId], [ParentId], [Name], [Summary], [Description], [ThumbnailUrl], [ThumbnailAltText], [DisplayPage], [Theme], [HtmlHead], [VisibilityId]) 
	VALUES ( 1, 1, 0, 'Sample Category', 'This category features some examples of products that demonstrate key MakerShop features.  You may want to leave this category in your store, but change the visability to Hidden.', NULL, NULL, 'Sample Category', NULL, NULL, NULL, 0 );

INSERT INTO [ac_Categories] ([CategoryId], [StoreId], [ParentId], [Name], [Summary], [Description], [ThumbnailUrl], [ThumbnailAltText], [DisplayPage], [Theme], [HtmlHead], [VisibilityId]) 
	VALUES ( 2, 1, 1, 'Computers and Electronics', NULL, NULL, NULL, 'Computers and Electronics', NULL, NULL, NULL, 0 );

INSERT INTO [ac_Categories] ([CategoryId], [StoreId], [ParentId], [Name], [Summary], [Description], [ThumbnailUrl], [ThumbnailAltText], [DisplayPage], [Theme], [HtmlHead], [VisibilityId]) 
	VALUES ( 3, 1, 1, 'Accessories', NULL, NULL, NULL, 'Accessories', NULL, NULL, NULL, 0 );




SET IDENTITY_INSERT [ac_Categories] OFF;

-- </[ac_Categories]>

GO

-- <[ac_CategoryParents]>

SET NOCOUNT ON;
SET DATEFORMAT ymd;

INSERT INTO [ac_CategoryParents] ([CategoryId], [ParentId], [ParentLevel], [ParentNumber]) 
	VALUES ( 1, 0, 0, 1 );

INSERT INTO [ac_CategoryParents] ([CategoryId], [ParentId], [ParentLevel], [ParentNumber]) 
	VALUES ( 1, 1, 1, 0 );

INSERT INTO [ac_CategoryParents] ([CategoryId], [ParentId], [ParentLevel], [ParentNumber]) 
	VALUES ( 2, 0, 0, 2 );

















-- </[ac_CategoryParents]>

GO

-- <[ac_WrapGroups]>

SET NOCOUNT ON;
SET DATEFORMAT ymd;

SET IDENTITY_INSERT [ac_WrapGroups] ON;

INSERT INTO [ac_WrapGroups] ([WrapGroupId], [StoreId], [Name]) 
	VALUES ( 1, 1, 'Sample Wraps' );

SET IDENTITY_INSERT [ac_WrapGroups] OFF;

-- </[ac_WrapGroups]>

GO

-- <[ac_WrapStyles]>

SET NOCOUNT ON;
SET DATEFORMAT ymd;

SET IDENTITY_INSERT [ac_WrapStyles] ON;

INSERT INTO [ac_WrapStyles] ([WrapStyleId], [WrapGroupId], [Name], [TaxCodeId], [Price], [ThumbnailUrl], [ImageUrl], [OrderBy]) 
	VALUES ( 1, 1, 'Blue', NULL, 3.9900, '~/Assets/ProductImages/gift_box_blue_t.jpg', '~/Assets/ProductImages/gift_box_blue.jpg', 1 );

INSERT INTO [ac_WrapStyles] ([WrapStyleId], [WrapGroupId], [Name], [TaxCodeId], [Price], [ThumbnailUrl], [ImageUrl], [OrderBy]) 
	VALUES ( 2, 1, 'Red', NULL, 3.9900, '~/Assets/ProductImages/gift_box_red_t.jpg', '~/Assets/ProductImages/gift_box_red.jpg', 2 );

INSERT INTO [ac_WrapStyles] ([WrapStyleId], [WrapGroupId], [Name], [TaxCodeId], [Price], [ThumbnailUrl], [ImageUrl], [OrderBy]) 
	VALUES ( 3, 1, 'Gold', NULL, 3.9900, '~/Assets/ProductImages/gift_box_gold_t.jpg', '~/Assets/ProductImages/gift_box_gold.jpg', 3 );

SET IDENTITY_INSERT [ac_WrapStyles] OFF;

-- </[ac_WrapStyles]>

GO

-- <[ac_Manufacturers]>

SET NOCOUNT ON;
SET DATEFORMAT ymd;

SET IDENTITY_INSERT [ac_Manufacturers] ON;

INSERT INTO [ac_Manufacturers] ([ManufacturerId], [StoreId], [Name]) 
	VALUES ( 1, 1, 'Sanasonic' );

INSERT INTO [ac_Manufacturers] ([ManufacturerId], [StoreId], [Name]) 
	VALUES ( 2, 1, 'Bell' );

SET IDENTITY_INSERT [ac_Manufacturers] OFF;

-- </[ac_Manufacturers]>

GO

-- <[ac_Products]>

SET NOCOUNT ON;
SET DATEFORMAT ymd;

SET IDENTITY_INSERT [ac_Products] ON;









































SET IDENTITY_INSERT [ac_Products] OFF;

-- </[ac_Products]>

GO

-- <[ac_ProductProductTemplates]>

INSERT INTO [ac_ProductProductTemplates] ([ProductId], [ProductTemplateId]) 
	VALUES ( 1, 4 );

INSERT INTO [ac_ProductProductTemplates] ([ProductId], [ProductTemplateId]) 
	VALUES ( 4, 3 );

-- </[ac_ProductProductTemplates]>

GO

-- <[ac_CatalogNodes]>

SET NOCOUNT ON;
SET DATEFORMAT ymd;

INSERT INTO [ac_CatalogNodes] ([CategoryId], [CatalogNodeId], [CatalogNodeTypeId], [OrderBy]) 
	VALUES ( 0, 1, 0, 0 );

INSERT INTO [ac_CatalogNodes] ([CategoryId], [CatalogNodeId], [CatalogNodeTypeId], [OrderBy]) 
	VALUES ( 4, 1, 1, 1 );

INSERT INTO [ac_CatalogNodes] ([CategoryId], [CatalogNodeId], [CatalogNodeTypeId], [OrderBy]) 
	VALUES ( 1, 2, 0, 0 );














































-- </[ac_CatalogNodes]>

GO

-- <[ac_Options]>

SET NOCOUNT ON;
SET DATEFORMAT ymd;

SET IDENTITY_INSERT [ac_Options] ON;

INSERT INTO [ac_Options] ([OptionId], [Name], [ShowThumbnails], [ThumbnailColumns], [ThumbnailWidth], [ThumbnailHeight], [CreatedDate]) 
	VALUES ( 2, 'Choose Style', 1, 0, 0, 0, '2007-09-09 19:59:04.063' );

INSERT INTO [ac_Options] ([OptionId], [Name], [ShowThumbnails], [ThumbnailColumns], [ThumbnailWidth], [ThumbnailHeight], [CreatedDate]) 
	VALUES ( 3, 'Choose Style', 1, 0, 120, 71, '2007-09-10 16:55:49.297' );

INSERT INTO [ac_Options] ([OptionId], [Name], [ShowThumbnails], [ThumbnailColumns], [ThumbnailWidth], [ThumbnailHeight], [CreatedDate]) 
	VALUES ( 4, 'Choose Color', 0, 0, 0, 0, '2007-09-10 18:00:09.953' );









SET IDENTITY_INSERT [ac_Options] OFF;

-- </[ac_Options]>

GO

-- <[ac_OptionChoices]>

SET NOCOUNT ON;
SET DATEFORMAT ymd;

SET IDENTITY_INSERT [ac_OptionChoices] ON;

INSERT INTO [ac_OptionChoices] ([OptionChoiceId], [OptionId], [Name], [ThumbnailUrl], [ImageUrl], [PriceModifier], [CogsModifier], [WeightModifier], [SkuModifier], [OrderBy]) 
	VALUES ( 5, 2, 'Purple', '~/Assets/ProductImages/gift_card_purplebow_t.jpg', '~/Assets/ProductImages/gift_card_purplebow.jpg', NULL, NULL, NULL, NULL, 1 );

INSERT INTO [ac_OptionChoices] ([OptionChoiceId], [OptionId], [Name], [ThumbnailUrl], [ImageUrl], [PriceModifier], [CogsModifier], [WeightModifier], [SkuModifier], [OrderBy]) 
	VALUES ( 6, 2, 'Green', '~/Assets/ProductImages/gift_card_greenbow_t.jpg', '~/Assets/ProductImages/gift_card_greenbow.jpg', NULL, NULL, NULL, NULL, 2 );

INSERT INTO [ac_OptionChoices] ([OptionChoiceId], [OptionId], [Name], [ThumbnailUrl], [ImageUrl], [PriceModifier], [CogsModifier], [WeightModifier], [SkuModifier], [OrderBy]) 
	VALUES ( 7, 2, 'Gold', '~/Assets/ProductImages/gift_card_goldbow_t.jpg', '~/Assets/ProductImages/gift_card_goldbow.jpg', NULL, NULL, NULL, NULL, 3 );




























































SET IDENTITY_INSERT [ac_OptionChoices] OFF;

-- </[ac_OptionChoices]>

GO

-- <[ac_ProductOptions]>

SET NOCOUNT ON;
SET DATEFORMAT ymd;

INSERT INTO [ac_ProductOptions] ([ProductId], [OptionId], [OrderBy]) 
	VALUES ( 1, 2, 0 );

INSERT INTO [ac_ProductOptions] ([ProductId], [OptionId], [OrderBy]) 
	VALUES ( 3, 3, 1 );

INSERT INTO [ac_ProductOptions] ([ProductId], [OptionId], [OrderBy]) 
	VALUES ( 4, 4, 1 );










-- </[ac_ProductOptions]>

GO

-- <[ac_ProductVariants]>

SET NOCOUNT ON;
SET DATEFORMAT ymd;

SET IDENTITY_INSERT [ac_ProductVariants] ON;

INSERT INTO [ac_ProductVariants] ([ProductVariantId], [ProductId], [Option1], [Option2], [Option3], [Option4], [Option5], [Option6], [Option7], [Option8], [VariantName], [Sku], [Price], [PriceModeId], [Weight], [WeightModeId], [CostOfGoods], [InStock], [InStockWarningLevel], [Available]) 
	VALUES ( 21, 1, 5, 0, 0, 0, 0, 0, 0, 0, NULL, NULL, NULL, 0, NULL, 0, NULL, 0, 0, 1 );

INSERT INTO [ac_ProductVariants] ([ProductVariantId], [ProductId], [Option1], [Option2], [Option3], [Option4], [Option5], [Option6], [Option7], [Option8], [VariantName], [Sku], [Price], [PriceModeId], [Weight], [WeightModeId], [CostOfGoods], [InStock], [InStockWarningLevel], [Available]) 
	VALUES ( 22, 1, 6, 0, 0, 0, 0, 0, 0, 0, NULL, NULL, NULL, 0, NULL, 0, NULL, 0, 0, 1 );

INSERT INTO [ac_ProductVariants] ([ProductVariantId], [ProductId], [Option1], [Option2], [Option3], [Option4], [Option5], [Option6], [Option7], [Option8], [VariantName], [Sku], [Price], [PriceModeId], [Weight], [WeightModeId], [CostOfGoods], [InStock], [InStockWarningLevel], [Available]) 
	VALUES ( 23, 1, 7, 0, 0, 0, 0, 0, 0, 0, NULL, NULL, NULL, 0, NULL, 0, NULL, 0, 0, 1 );
















































































































































































































































































































SET IDENTITY_INSERT [ac_ProductVariants] OFF;

-- </[ac_ProductVariants]>

GO

-- <[ac_KitComponents]>

SET NOCOUNT ON;
SET DATEFORMAT ymd;

SET IDENTITY_INSERT [ac_KitComponents] ON;

INSERT INTO [ac_KitComponents] ([KitComponentId], [StoreId], [Name], [UserPrompt], [InputTypeId], [Columns], [HeaderOption]) 
	VALUES ( 1, 1, 'Processor', NULL, 2, 0, NULL );

INSERT INTO [ac_KitComponents] ([KitComponentId], [StoreId], [Name], [UserPrompt], [InputTypeId], [Columns], [HeaderOption]) 
	VALUES ( 2, 1, 'Operating System', NULL, 2, 0, NULL );

INSERT INTO [ac_KitComponents] ([KitComponentId], [StoreId], [Name], [UserPrompt], [InputTypeId], [Columns], [HeaderOption]) 
	VALUES ( 3, 1, 'Video Cards', NULL, 2, 0, NULL );







SET IDENTITY_INSERT [ac_KitComponents] OFF;

-- </[ac_KitComponents]>

GO

-- <[ac_ProductKitComponents]>

SET NOCOUNT ON;
SET DATEFORMAT ymd;

INSERT INTO [ac_ProductKitComponents] ([ProductId], [KitComponentId], [OrderBy]) 
	VALUES ( 5, 1, 1 );

INSERT INTO [ac_ProductKitComponents] ([ProductId], [KitComponentId], [OrderBy]) 
	VALUES ( 5, 2, 2 );

INSERT INTO [ac_ProductKitComponents] ([ProductId], [KitComponentId], [OrderBy]) 
	VALUES ( 5, 3, 3 );








-- </[ac_ProductKitComponents]>

GO

-- <[ac_KitProducts]>

SET NOCOUNT ON;
SET DATEFORMAT ymd;

SET IDENTITY_INSERT [ac_KitProducts] ON;

INSERT INTO [ac_KitProducts] ([KitProductId], [KitComponentId], [ProductId], [OptionList], [Name], [Quantity], [Price], [PriceModeId], [Weight], [WeightModeId], [IsSelected], [OrderBy]) 
	VALUES ( 1, 1, 6, NULL, 'Intel Core 2 Duo Processor (2MB Cache,2.0GHz)', 1, 0.0000, 0, 0.0000, 0, 1, 1 );

INSERT INTO [ac_KitProducts] ([KitProductId], [KitComponentId], [ProductId], [OptionList], [Name], [Quantity], [Price], [PriceModeId], [Weight], [WeightModeId], [IsSelected], [OrderBy]) 
	VALUES ( 2, 1, 7, NULL, 'Intel Core 2 Duo Processor (4MB Cache,2.13GHZ)', 1, 150.0000, 2, 0.0000, 0, 0, 2 );

INSERT INTO [ac_KitProducts] ([KitProductId], [KitComponentId], [ProductId], [OptionList], [Name], [Quantity], [Price], [PriceModeId], [Weight], [WeightModeId], [IsSelected], [OrderBy]) 
	VALUES ( 3, 2, 8, NULL, 'Windows Vista Home Premium', 1, 0.0000, 0, 0.0000, 0, 1, 1 );




















SET IDENTITY_INSERT [ac_KitProducts] OFF;

-- </[ac_KitProducts]>

GO

-- <[ac_ReviewerProfiles]>

SET NOCOUNT ON;
SET DATEFORMAT ymd;

SET IDENTITY_INSERT [ac_ReviewerProfiles] ON;

INSERT INTO [ac_ReviewerProfiles] ([ReviewerProfileId], [Email], [DisplayName], [Location], [EmailVerified], [EmailVerificationCode]) 
	VALUES ( 1, '', 'Joe', 'USA', 0, NULL );

INSERT INTO [ac_ReviewerProfiles] ([ReviewerProfileId], [Email], [DisplayName], [Location], [EmailVerified], [EmailVerificationCode]) 
	VALUES ( 2, 'katie@MakerShop.com', 'Katy', 'Vancouver, WA', 0, NULL );

INSERT INTO [ac_ReviewerProfiles] ([ReviewerProfileId], [Email], [DisplayName], [Location], [EmailVerified], [EmailVerificationCode]) 
	VALUES ( 3, 'joe@MakerShop.com', 'Joe', 'Vancouver, WA', 0, NULL );



SET IDENTITY_INSERT [ac_ReviewerProfiles] OFF;

-- </[ac_ReviewerProfiles]>

GO

-- <[ac_ProductReviews]>

SET NOCOUNT ON;
SET DATEFORMAT ymd;

SET IDENTITY_INSERT [ac_ProductReviews] ON;


INSERT INTO [ac_ProductReviews] ([ProductReviewId], [ProductId], [ReviewerProfileId], [ReviewDate], [Rating], [ReviewTitle], [ReviewBody], [IsApproved]) 
	VALUES ( 2, 39, 2, '2007-09-12 22:48:12.813', 10, 'Great ecommerce resource', 'I recently subscribed to this magazine and found it very informative.  My online sales have gone up dramatically since switching to MakerShop.  I discovered that MakerShop is one of the top-rated shopping systems reviewed in this magazine.  I would recommend a subscription to Ecommerce magazine if you want to keep up with all the online shopping news.', 1 );




SET IDENTITY_INSERT [ac_ProductReviews] OFF;

-- </[ac_ProductReviews]>

GO

-- <[ac_ProductImages]>

SET NOCOUNT ON;
SET DATEFORMAT ymd;

SET IDENTITY_INSERT [ac_ProductImages] ON;

INSERT INTO [ac_ProductImages] ([ProductImageId], [ProductId], [ImageUrl], [ImageAltText], [OrderBy]) 
	VALUES ( 1, 4, '~/Assets/ProductImages/plasma_tv_displayed.jpg', NULL, 1 );

INSERT INTO [ac_ProductImages] ([ProductImageId], [ProductId], [ImageUrl], [ImageAltText], [OrderBy]) 
	VALUES ( 2, 4, '~/Assets/ProductImages/plasma_tv_black.jpg', NULL, 2 );

INSERT INTO [ac_ProductImages] ([ProductImageId], [ProductId], [ImageUrl], [ImageAltText], [OrderBy]) 
	VALUES ( 3, 4, '~/Assets/ProductImages/plasma_tv_displayed2.jpg', NULL, 3 );


SET IDENTITY_INSERT [ac_ProductImages] OFF;

-- </[ac_ProductImages]>

GO

-- <[ac_ProductTemplateFields]>

SET NOCOUNT ON;
SET DATEFORMAT ymd;

SET IDENTITY_INSERT [ac_ProductTemplateFields] ON;

INSERT INTO [ac_ProductTemplateFields] ([ProductTemplateFieldId], [ProductId], [InputFieldId], [InputValue]) 
	VALUES ( 17, 4, 13, 'Sanasonic SN-42PX60U' );

INSERT INTO [ac_ProductTemplateFields] ([ProductTemplateFieldId], [ProductId], [InputFieldId], [InputValue]) 
	VALUES ( 18, 4, 14, '42" Plasma Television, Widescreen 16:9 Format' );

INSERT INTO [ac_ProductTemplateFields] ([ProductTemplateFieldId], [ProductId], [InputFieldId], [InputValue]) 
	VALUES ( 19, 4, 15, '1024x768 (HDTV)' );


SET IDENTITY_INSERT [ac_ProductTemplateFields] OFF;

-- </[ac_ProductTemplateFields]>

GO

-- <[ac_UpsellProducts]>

SET NOCOUNT ON;
SET DATEFORMAT ymd;

INSERT INTO [ac_UpsellProducts] ([ProductId], [ChildProductId], [OrderBy]) 
	VALUES ( 4, 42, 1 );

INSERT INTO [ac_UpsellProducts] ([ProductId], [ChildProductId], [OrderBy]) 
	VALUES ( 5, 32, 1 );

INSERT INTO [ac_UpsellProducts] ([ProductId], [ChildProductId], [OrderBy]) 
	VALUES ( 33, 34, 1 );




-- </[ac_UpsellProducts]>

GO

-- <[ac_RelatedProducts]>

SET NOCOUNT ON;
SET DATEFORMAT ymd;

INSERT INTO [ac_RelatedProducts] ([ProductId], [OrderBy], [ChildProductId]) 
	VALUES ( 33, 2, 5 );

INSERT INTO [ac_RelatedProducts] ([ProductId], [OrderBy], [ChildProductId]) 
	VALUES ( 33, 1, 33 );

INSERT INTO [ac_RelatedProducts] ([ProductId], [OrderBy], [ChildProductId]) 
	VALUES ( 34, 1, 33 );



-- </[ac_RelatedProducts]>

GO

-- <[ac_VolumeDiscounts]>

SET NOCOUNT ON;
SET DATEFORMAT ymd;

SET IDENTITY_INSERT [ac_VolumeDiscounts] ON;

INSERT INTO [ac_VolumeDiscounts] ([VolumeDiscountId], [StoreId], [Name], [IsValueBased], [IsGlobal]) 
	VALUES ( 1, 1, 'Quantity Discounts for Cable (per-foot)', 0, 0 );

SET IDENTITY_INSERT [ac_VolumeDiscounts] OFF;

-- </[ac_VolumeDiscounts]>

GO

-- <[ac_VolumeDiscountLevels]>

SET NOCOUNT ON;
SET DATEFORMAT ymd;

SET IDENTITY_INSERT [ac_VolumeDiscountLevels] ON;

INSERT INTO [ac_VolumeDiscountLevels] ([VolumeDiscountLevelId], [VolumeDiscountId], [MinValue], [MaxValue], [DiscountAmount], [IsPercent]) 
	VALUES ( 2, 1, 751.0000, 1000.0000, 20.0000, 1 );

INSERT INTO [ac_VolumeDiscountLevels] ([VolumeDiscountLevelId], [VolumeDiscountId], [MinValue], [MaxValue], [DiscountAmount], [IsPercent]) 
	VALUES ( 3, 1, 501.0000, 750.0000, 15.0000, 1 );

INSERT INTO [ac_VolumeDiscountLevels] ([VolumeDiscountLevelId], [VolumeDiscountId], [MinValue], [MaxValue], [DiscountAmount], [IsPercent]) 
	VALUES ( 4, 1, 251.0000, 500.0000, 10.0000, 1 );


SET IDENTITY_INSERT [ac_VolumeDiscountLevels] OFF;

-- </[ac_VolumeDiscountLevels]>

GO

-- <[ac_ProductVolumeDiscounts]>

SET NOCOUNT ON;
SET DATEFORMAT ymd;

INSERT INTO [ac_ProductVolumeDiscounts] ([ProductId], [VolumeDiscountId]) 
	VALUES ( 40, 1 );


-- </[ac_ProductVolumeDiscounts]>

GO

-- <[ac_LicenseAgreements]>

SET NOCOUNT ON;
SET DATEFORMAT ymd;

SET IDENTITY_INSERT [ac_LicenseAgreements] ON;

INSERT INTO [ac_LicenseAgreements] ([LicenseAgreementId], [StoreId], [DisplayName], [AgreementText], [IsHTML]) 
	VALUES ( 1, 1, 'License agreement', '<p>&nbsp;</p><p><span style="font-weight: bold"><p>Sample License agreement</p></span></p><p>&nbsp;</p><ul><li>As the merchant, you&nbsp;may&nbsp;choose whether&nbsp;it is agreed to before downloading, or&nbsp;when the customer&nbsp;adds product to the shopping cart.</li><li>The license agreement may be associated to one or more downloadable files.</li></ul>', 0 );

SET IDENTITY_INSERT [ac_LicenseAgreements] OFF;

-- </[ac_LicenseAgreements]>

GO

-- <[ac_Readmes]>

SET NOCOUNT ON;
SET DATEFORMAT ymd;

SET IDENTITY_INSERT [ac_Readmes] ON;

INSERT INTO [ac_Readmes] ([ReadmeId], [StoreId], [DisplayName], [ReadmeText], [IsHTML]) 
	VALUES ( 1, 1, 'Readme', '<p>&nbsp;</p><p align="left"><span style="font-weight: bold">Sample Readme</span></p><p align="left">&nbsp;</p><ul><li><div align="left">This is the sample content for a Digital Good Readme file.</div></li><li><div align="left">It can be associated to one or more downloadable files.</div></li></ul>', 0 );

SET IDENTITY_INSERT [ac_Readmes] OFF;

-- </[ac_Readmes]>

GO

-- <[ac_DigitalGoods]>

SET NOCOUNT ON;
SET DATEFORMAT ymd;

SET IDENTITY_INSERT [ac_DigitalGoods] ON;

INSERT INTO [ac_DigitalGoods] ([DigitalGoodId], [StoreId], [Name], [FileName], [FileSize], [MaxDownloads], [DownloadTimeout], [ActivationTimeout], [MediaKey], [ServerFileName], [SerialKeyProviderId], [SerialKeyConfigData], [ActivationModeId], [ActivationEmailId], [FulfillmentModeId], [FulfillmentEmailId], [ReadmeId], [LicenseAgreementId], [LicenseAgreementModeId], [EnableSerialKeys]) 
	VALUES ( 1, 1, 'free sample download', 'sample.txt', 60, 10, NULL, NULL, NULL, 'sample.txt', NULL, NULL, 1, NULL, 2, NULL, 1, 1, 2, 0 );

INSERT INTO [ac_DigitalGoods] ([DigitalGoodId], [StoreId], [Name], [FileName], [FileSize], [MaxDownloads], [DownloadTimeout], [ActivationTimeout], [MediaKey], [ServerFileName], [SerialKeyProviderId], [SerialKeyConfigData], [ActivationModeId], [ActivationEmailId], [FulfillmentModeId], [FulfillmentEmailId], [ReadmeId], [LicenseAgreementId], [LicenseAgreementModeId], [EnableSerialKeys]) 
	VALUES ( 2, 1, 'sample digital good - Windows', 'sample.txt', 60, 10, NULL, NULL, NULL, 'sample.txt', NULL, NULL, 2, NULL, 2, NULL, 1, 1, 1, 0 );

INSERT INTO [ac_DigitalGoods] ([DigitalGoodId], [StoreId], [Name], [FileName], [FileSize], [MaxDownloads], [DownloadTimeout], [ActivationTimeout], [MediaKey], [ServerFileName], [SerialKeyProviderId], [SerialKeyConfigData], [ActivationModeId], [ActivationEmailId], [FulfillmentModeId], [FulfillmentEmailId], [ReadmeId], [LicenseAgreementId], [LicenseAgreementModeId], [EnableSerialKeys]) 
	VALUES ( 3, 1, 'sample digital good - Linux', 'sample.txt', 60, 10, NULL, NULL, NULL, 'sample.txt', NULL, NULL, 2, NULL, 2, NULL, 1, 1, 1, 0 );

SET IDENTITY_INSERT [ac_DigitalGoods] OFF;

-- </[ac_DigitalGoods]>

GO

-- <[ac_ProductDigitalGoods]>

SET NOCOUNT ON;
SET DATEFORMAT ymd;

SET IDENTITY_INSERT [ac_ProductDigitalGoods] ON;

INSERT INTO [ac_ProductDigitalGoods] ([ProductDigitalGoodId], [ProductId], [OptionList], [DigitalGoodId]) 
	VALUES ( 1, 37, NULL, 1 );

INSERT INTO [ac_ProductDigitalGoods] ([ProductDigitalGoodId], [ProductId], [OptionList], [DigitalGoodId]) 
	VALUES ( 2, 38, '66,0,0,0,0,0,0,0', 2 );

INSERT INTO [ac_ProductDigitalGoods] ([ProductDigitalGoodId], [ProductId], [OptionList], [DigitalGoodId]) 
	VALUES ( 3, 38, '67,0,0,0,0,0,0,0', 3 );

SET IDENTITY_INSERT [ac_ProductDigitalGoods] OFF;

-- </[ac_ProductDigitalGoods]>

GO

-- <[ac_Coupons]>

SET NOCOUNT ON;
SET DATEFORMAT ymd;

SET IDENTITY_INSERT [ac_Coupons] ON;

INSERT INTO [ac_Coupons] ([CouponId], [StoreId], [CouponTypeId], [Name], [CouponCode], [DiscountAmount], [IsPercent], [MaxValue], [MinPurchase], [MinQuantity], [MaxQuantity], [QuantityInterval], [MaxUses], [MaxUsesPerCustomer], [StartDate], [EndDate], [ProductRuleId], [AllowCombine]) 
	VALUES ( 1, 1, 2, 'Free shipping on computer system', '4Z2YAB', 100.0000, 1, 0.0000, 0.0000, 0, 0, 0, 0, 1, NULL, NULL, 0, 0 );

INSERT INTO [ac_Coupons] ([CouponId], [StoreId], [CouponTypeId], [Name], [CouponCode], [DiscountAmount], [IsPercent], [MaxValue], [MinPurchase], [MinQuantity], [MaxQuantity], [QuantityInterval], [MaxUses], [MaxUsesPerCustomer], [StartDate], [EndDate], [ProductRuleId], [AllowCombine]) 
	VALUES ( 2, 1, 1, 'Buy 1 Get 1 Free', 'GET1FREE', 50.0000, 1, 0.0000, 0.0000, 2, 0, 2, 0, 1, NULL, NULL, 1, 0 );

SET IDENTITY_INSERT [ac_Coupons] OFF;

-- </[ac_Coupons]>

GO

-- <[ac_CouponProducts]>

SET NOCOUNT ON;
SET DATEFORMAT ymd;

INSERT INTO [ac_CouponProducts] ([CouponId], [ProductId]) 
	VALUES ( 2, 41 );


-- </[ac_CouponProducts]>

GO

-- <[ac_ShipMethods]>

SET NOCOUNT ON;
SET DATEFORMAT ymd;

SET IDENTITY_INSERT [ac_ShipMethods] ON;

INSERT INTO [ac_ShipMethods] ([ShipMethodId], [StoreId], [ShipMethodTypeId], [Name], [Surcharge], [ShipGatewayId], [ServiceCode], [MinPurchase], [SurchargeIsVisible], [SurchargeIsPercent], [TaxCodeId], [OrderBy]) 
	VALUES ( 1, 1, 2, 'Shipping 20% of Order Total', 0.0000, NULL, NULL, 0.0000, 0, 0, NULL, 1 );

SET IDENTITY_INSERT [ac_ShipMethods] OFF;

-- </[ac_ShipMethods]>

GO

-- <[ac_ShipRateMatrix]>

SET NOCOUNT ON;
SET DATEFORMAT ymd;

SET IDENTITY_INSERT [ac_ShipRateMatrix] ON;

INSERT INTO [ac_ShipRateMatrix] ([ShipRateMatrixId], [ShipMethodId], [RangeStart], [RangeEnd], [Rate], [IsPercent]) 
	VALUES ( 1, 1, NULL, NULL, 20.0000, 1 );

SET IDENTITY_INSERT [ac_ShipRateMatrix] OFF;

-- </[ac_ShipRateMatrix]>

GO

-- <[ac_SubscriptionPlans]>

SET NOCOUNT ON;
SET DATEFORMAT ymd;

INSERT INTO [ac_SubscriptionPlans] ([ProductId], [Name], [NumberOfPayments], [PaymentFrequency], [PaymentFrequencyUnitId], [RecurringCharge], [RecurringChargeSpecified], [GroupId]) 
	VALUES ( 39, 'Ecommerce Magazine Subscription', 1, 12, 1, 0.00, 0, NULL );


-- </[ac_SubscriptionPlans]>

-- <[ac_StoreSettings]>

UPDATE [ac_StoreSettings] SET FieldValue = '120' WHERE FieldName = 'OptionThumbnailWidth';

UPDATE [ac_StoreSettings] SET FieldValue = '80' WHERE FieldName = 'OptionThumbnailHeight';

UPDATE [ac_StoreSettings] SET FieldValue = '2' WHERE FieldName = 'OptionThumbnailColumns';

-- </[ac_StoreSettings]>