<!--
<Description>
Layout used for pages where an order is being viewed in the member "my account" section.
</Description>
-->
[[layout:header]]
<div id="outerContentWrapper">
	<div id="innerContentWrapper">
		<table cellspacing="0" cellpadding="0" id="contentLayout">
			<tr>
				<td align="left" valign="top" id="mainPanel">
				    [[ConLib:BreadCrumbs]]
				    [[layout:content]]
				</td>
				<td align="left" valign="top" id="rightSidebarPanel">
					[[layout:rightsidebar]]
				</td>				
			</tr>
		</table>
	</div>
	[[layout:footer]]
</div>